<div class="container mt-5">
	<div class="container">
	    <div class="alert alert-danger" role="alert" ng-show="$root.error" ng-hide="!$root.error">
	        <strong>Uh oh!</strong> {{ $root.error }}
	    </div>
	</div>
	<h4 class="my-5 py-5 text-center">
		Type in your city below to find the latest forecast this week!
	</h4>
    <div class="row my-5 py-5">
    	<div class="col-12">
	    	<form name="searchCity" ng-submit="onSubmit(searchCity.$valid)">
	    		<div class="input-group">
		    		<input type="text" placeholder="Kamloops, BC" class="form-control" ng-model="city" ng-minlength="3" required focus />
		    		<input type="submit" class="btn btn-info input-group-addon" value="Search" />
	    		</div>
	    	</form>
	    </div>
    </div>
    <h5 class="my-5 py-5 text-center">
    	Powered by <a href="https://nodejs.org" alt="Node">Node</a>, <a href="http://expressjs.com/" alt="Express">Express</a>, <a href="https://angularjs.org/" alt="Angular 1.6">Angular</a> and <a href="http://openweathermap.org" alt="Open Weather Map">OpenWeatherMap.org</a>'s API.
    </h5>
</div>
